<div class="promo-popup animated">
    <a href="#" class="pp-cta extra-action">
        <img src="https://dgc2qnsehk7ta.cloudfront.net/uploads/sd-blog-promo-2.jpg">
    </a>
    <div class="pp-intro-bar">
        @ViewData["pro_title"]
        <span class="close">
            <i class="material-icons">close</i>
        </span>
        <span class="up">
            <i class="material-icons">keyboard_arrow_up</i>
        </span>
    </div>
    <div class="pp-inner-content">
        <h2>@ViewData["pro_title_big"]</h2>
        <p>@ViewData["description"]</p>
        <a class="pp-cta extra-action" href="#">Open</a>
    </div>
</div>