<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SE-Commerce</title>
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <partial name="_BackEndStyles" />

</head>

<body>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container-scroller">

        <!-- partial:partials/_navbar.html -->
        <partial name="_Navbar" />

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <partial name="_Sidebar" />

            <!-- partial -->
            <div class="main-panel">

                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->

                <!-- partial:partials/_footer.html -->
                <partial name="_Footer" />

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <partial name="_BackEndScripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
