
@{
    ViewData["Title"] = "Products";
}

    <h2>Products</h2>

    <button class="btn btn-outline-success" onclick="showSwal('basic')">Click here!</button>
    <a href="#" id="show" class="btn btn-outline-danger">Click here!</a>

@section js {
    <script>
        console.log("Produdct optional scripts")
    </script>
}