<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["title"] | SE-Commerce</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SE-Commerce Online Shopping for Customers to Customers">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="~/Shared/_MainStyles.cshtml" />

</head>

<body>
    
    <div class="super_container">
        <partial name="~/Shared/_Header.cshtml" />
    
        @RenderBody()

        <partial name="~/Shared/_Newsletter.cshtml" />
        <partial name="~/Shared/_Footer.cshtml" />
    </div>

    <partial name="~/Shared/_MainScripts.cshtml" />
</body>
</html>